@font-face {
   font-family: 'шрифт';
   font-display: swap;
   src: url('file:///C:/Users/hoost/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-12-27_123833/fonts/%D1%88%D1%80%D0%B8%D1%84%D1%82/font.ttf');
}
